.Img {
  max-height: 80px;
}

.Header {
  flex-basis: 35%;
  text-align: center;
}

.P {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.Buttons {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .RemoveButton {
    background-color: rgba($color: #000000, $alpha: 0);
    border-radius: 10px;
    border: 2px solid rgb(157, 13, 13);

    img {
      filter: invert(83%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(119%);
    }

    &:hover {
      transition-duration: 0.6s;
      background-color: rgb(157, 13, 13);
      border-color: rgb(199, 17, 17);
      cursor: pointer;

      img {
        transition-duration: 0.6s;
        filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(119%);
      }
    }
  }

  .GoToButton {
    background-color: rgba($color: #000000, $alpha: 0);
    border-radius: 10px;
    border: 2px solid rgb(19, 72, 142);
    img {
      filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(184deg) brightness(118%) contrast(119%);
    }

    &:hover {
      transition-duration: 0.6s;
      background-color: rgb(19, 72, 142);
      border-color: rgb(26, 93, 181);
      cursor: pointer;
    }
  }
}
