@import '../../utils/variables.scss';

.Wrapper {
  display: flex;
  border: 1px solid #fff;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .FindBox {
    flex-basis: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;

    input {
      width: 60%;
      padding: 0.4rem;
    }
  }
  .CourseWrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
}
