.Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;

  .EditView {
    flex-basis: 35%;
    border: 1px solid #37aa9c;

    h1 {
      text-align: center;
      border-bottom: 1px solid #37aa9c;
      padding-bottom: 1rem;
    }
  }
  .PreviewView {
    flex-grow: 1;
    padding: 1rem;
  }
}
