.Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  .EditView {
    flex-basis: 50%;
  }
  .PreviewView {
    position: fixed;
    left: 50%;
    width: 49%;
  }
}
