.AddPostForm {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;

    label {
      flex-basis: 100%;
      font-size: 1.4rem;
    }

    input {
      flex-basis: 100%;
      padding: 0.4rem;
      background-color: #333f44;
    }

    textarea {
      flex-basis: 100%;
      min-height: 250px;
      height: max-content;
      resize: vertical;
      background-color: #333f44;
      padding: 0.4rem;
    }
  }

  .Footer {
    div {
      flex-wrap: nowrap;

      input[type='file'] {
        background-color: #1a1a1b;
      }
    }
  }
}
