$background-color: #1a1a1b;
$background-color-secondary: #333f44;
$decoration-color-dark: #37aa9c;
$decoration-color-light: #94f3e4;
$font-color: #eeeeee;
$font-family: 'Roboto', sans-serif;

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: $decoration-color-dark $decoration-color-light;
  animation: l1 1s infinite;
  margin: 0 auto;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.centeredLoader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: $decoration-color-dark $decoration-color-light;
  animation: l1 1s infinite;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
