$background-color: #1a1a1b;
$background-color-secondary: #333f44;
$decoration-color-dark: #37aa9c;
$decoration-color-light: #94f3e4;
$font-color: #eeeeee;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
